/* body foreground colour */
body {
    color: #161616;
    font-family: var(--font-family-base);
}

/* All ANCHOR elements' foreground colour*/
a {
    color: #161616;
}

/* All elements with the class 'visually-hidden' should have their display to none*/
.visually-hidden {
    display: none;
}

/* All elements with the class card-category, should have their foreground color set to #D73953 */
.card-category {
    color: var(--color-primary);
}

/* All elements with the class section-tagline should have their foreground color set to #D73953 */
.section-tagline {
    color: var(--color-primary);
}


/* Target the root element and define the following custom properties:

color-primary set to #d73953
color-black set to #090909
color-white set to #ffffff
color-light-grey set to #f3f3f3
color-dark-grey set to #353535
text-color set to color-black */

:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

/* Based on styles/3-style.css:

Targeting the root element, create 2 custom font-family properties font-family-base and font-family-title with the same list of fonts:
set the first choice font as Helvetica Neue
set the second choice font as Helvetica
set the third choice font as Arial
set the last choice font as sans-serif */

:root {
    --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
}