/* body foreground colour */
body {
    color: #161616;
    font-family: var(--font-family-base);
}

/* All ANCHOR elements' foreground colour*/
a {
    color: #161616;
}

/* All elements with the class 'visually-hidden' should have their display to none*/
.visually-hidden {
    display: none;
}

/* All elements with the class card-category, should have their foreground color set to #D73953 */
.card-category {
    color: var(--color-primary);
}

/* All elements with the class section-tagline should have their foreground color set to #D73953 */
.section-tagline {
    color: var(--color-primary);
}


/* Target the root element and define the following custom properties:

color-primary set to #d73953
color-black set to #090909
color-white set to #ffffff
color-light-grey set to #f3f3f3
color-dark-grey set to #353535
text-color set to color-black 

font-size-small set to 1.2rem
font-size-medium set to 1.6rem
font-size-large set to 1.8rem
font-size-x-large set to 2.3rem
font-size-xx-large set to 4.8rem
*/

:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
}

/* Based on styles/3-style.css:

Targeting the root element, create 2 custom font-family properties font-family-base and font-family-title with the same list of fonts:
set the first choice font as Helvetica Neue
set the second choice font as Helvetica
set the third choice font as Arial
set the last choice font as sans-serif */

:root {
    --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
}

/* All fonts in the html element should be at 62.5% of their normal size 
i.e It means you’re shrinking the default font size of the whole page to 62.5% of the browser’s normal size.

Most browsers default to 16px.
62.5% of 16px → 10px.
Now, 1rem = 10px, so calculating sizes is easier:

Example:

1.2rem = 12px
1.6rem = 16px
2.3rem = 23px

It’s basically a shortcut for easier math with rem units.
*/

html {
    font-size: 62.5%;
}

/* Any fonts in the body should have their sizes set to font-size-medium */

body {
    font-size: var(--font-size-medium);
}