
:root {
    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* HTML base font size */
html {
    font-size: 62.5%;
}

/* Body styles */
body {
    color: #161616;
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
}

/* Anchor styles */
a {
    color: #161616;
}

/* Utility classes */
.visually-hidden {
    display: none;
}

/* Card category & section tagline */
.card-category,
.section-tagline {
    color: var(--color-primary);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}